<div *ngIf="ispresent">
  <ngb-alert [type]="'danger'">
    <strong>{{ Alert.message }}</strong>
  </ngb-alert>
</div>
<section *ngIf="width > 768" class="vh-100" style="background-color: #eee">
  <div class="container h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  class="mx-1 mx-md-4"
                  [formGroup]="signupForm"
                  (ngSubmit)="signup()"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <mat-form-field class="input" appearance="outline">
                        <mat-label class="form-label">Your Email</mat-label>
                        <input
                          type="email"
                          matInput
                          formControlName="userEmail"
                          required
                          placeholder="Ex. pat@example.com"
                        />
                        <mat-error
                          *ngIf="
                            signupForm.get('userEmail')?.hasError('required')
                          "
                          >Enter email</mat-error
                        >
                        <mat-error
                          *ngIf="
                            signupForm.get('userEmail')?.hasError('pattern')
                          "
                          >Invalid email</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <mat-form-field class="input" appearance="outline">
                        <mat-label class="form-label">Password</mat-label>
                        <input
                          type="password"
                          [type]="hide ? 'password' : 'text'"
                          matInput
                          formControlName="password"
                          required
                        />
                        <mat-hint
                          >Password must contain minimun 8 characters long, one
                          digit,one uppercase ,one lowercase</mat-hint
                        >
                        <button
                          type="button"
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            signupForm.get('password')?.hasError('required')
                          "
                          >Enter Password</mat-error
                        >
                        <mat-error
                          *ngIf="
                            signupForm.get('password')?.hasError('pattern')
                          "
                          >Invalid password
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <mat-form-field class="input" appearance="outline">
                        <mat-label class="form-label"
                          >Confirm Password</mat-label
                        >
                        <input
                          type="password"
                          [type]="see ? 'password' : 'text'"
                          matInput
                          formControlName="confirmPassword"
                          required
                        />
                        <button
                          type="button"
                          mat-icon-button
                          matSuffix
                          (click)="see = !see"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            see ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            signupForm
                              .get('confirmPassword')
                              ?.hasError('required')
                          "
                          >Enter password</mat-error
                        >
                        <mat-error *ngIf="confirmPassword()">
                          Password not match
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      [disabled]="confirmPassword() || signupForm.invalid"
                      class="btn btn-primary btn-lg"
                    >
                      Register
                    </button>
                  </div>
                  <div>
                    <p>
                      Already have an acount?
                      <a style="text-decoration: none" [routerLink]="'/login'"
                        >log in here</a
                      >
                    </p>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="signup image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">© Copyright @DineshDixit</div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a
        href="https://www.linkedin.com/in/dinesh-dixit"
        target="_blank"
        class="text-white me-4"
      >
        <fa-icon class="icon-appearance" [icon]="faLinkedin"></fa-icon>
      </a>
      <a
        href="https://github.com/Mechatron00"
        target="_blank"
        class="text-white me-4"
      >
        <fa-icon class="icon-appearance" [icon]="faGithub"></fa-icon>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
<!-- *********** -->
<div *ngIf="width < 768" class="container">
  <div class="row">
    <div class="col-12">
      <section class="my-5 text-center">
        <h1 class="display-1">404</h1>
        <h4 class="mb-4">Page not found</h4>
        <p class="mb-0">
          This web-application is degisn for desktop. Please access it from
          desktop only or enable desktop site.
        </p>
      </section>
    </div>
  </div>
</div>
