.certification-form
{
    display: flex;
    flex-direction: column;
    
}

.btn-add
{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.dates
{
    display: flex;
    justify-content: space-between;
}
.web
{
   
    width: 900px;
}
.description
{
    width: 900px;
    
}
.btn-sec
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .accordian
  {
    display: flex; 
     justify-content: center;
    
  }
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .mat-action
  {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  