<div *ngIf="notPresent">
  <ngb-alert [type]="'danger'">
    <strong>{{ Alert.message }}</strong>
  </ngb-alert>
</div>
<section class="vh-100" *ngIf="width > 768">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <mat-form-field class="input" appearance="outline">
              <mat-label class="form-label">Your Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="userEmail"
                required
                placeholder="Ex. pat@example.com"
              />
              <mat-error
                *ngIf="loginForm.get('userEmail')?.hasError('required')"
                >Enter email</mat-error
              >
              <mat-error *ngIf="loginForm.get('userEmail')?.hasError('pattern')"
                >Invalid email</mat-error
              >
            </mat-form-field>
            <!-- <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address"  formControlName="userEmail"
              required />
              <mat-error *ngIf="loginForm.get('userEmail')?.hasError('required')">Enter email</mat-error> -->
            <!-- <mat-error *ngIf="loginForm.get('userEmail')?.hasError('pattern')">Invalid email</mat-error> -->
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <mat-form-field class="input" appearance="outline">
              <mat-label class="form-label">Password</mat-label>
              <input
                type="password"
                [type]="hide ? 'password' : 'text'"
                matInput
                formControlName="password"
                required
                placeholder
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
                >Enter password</mat-error
              >
            </mat-form-field>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2" style="width: 400px">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>

            <p>
              Don't have an acount?
              <a style="text-decoration: none" [routerLink]="'/signup'"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">© Copyright @DineshDixit</div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a
        href="https://www.linkedin.com/in/dinesh-dixit"
        target="_blank"
        class="text-white me-4"
      >
        <fa-icon class="icon-appearance" [icon]="faLinkedin"></fa-icon>
      </a>
      <a
        href="https://github.com/Mechatron00"
        target="_blank"
        class="text-white me-4"
      >
        <fa-icon class="icon-appearance" [icon]="faGithub"></fa-icon>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>

<div *ngIf="width < 768" class="container">
  <div class="row">
    <div class="col-12">
      <section class="my-5 text-center">
        <h1 class="display-1">404</h1>
        <h4 class="mb-4">Page not found</h4>
        <p class="mb-0">
          This web-application is degisn for desktop. Please access it from
          desktop only or Enable desktop site.
        </p>
      </section>
    </div>
  </div>
</div>
