<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="toolmenu" color="accent">
 
      <button matTooltip="Home" mat-mini-fab color="warn" [routerLink]="'dashboard'" >
        <mat-icon>home</mat-icon>
      </button>
       
          <span class="example-spacer"></span>
     
              <button matTooltip="Login" mat-mini-fab color="warn" [routerLink]="'/login'">
                <mat-icon><span class="material-symbols-outlined">
                  login
                  </span></mat-icon>
              </button>
              <span class="spacer"></span>
              <button matTooltip="Signup" mat-mini-fab color="warn" [routerLink]="'signup'">
                <mat-icon><span class="material-symbols-outlined" >
                  how_to_reg
                  </span></mat-icon>
              </button>
              <span class="spacer"></span>
              <button matTooltip="About" mat-mini-fab color="warn" [routerLink]="'about'">
                <mat-icon><span class="material-symbols-outlined">
                  info
                  </span></mat-icon>
              </button>
            
    </mat-toolbar>
   
    <router-outlet></router-outlet>

   
  </mat-sidenav-content>
</mat-sidenav-container>
