.accordian
{
  display: flex; 
   justify-content: center;
  
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-action
{
display: flex;
justify-content: center;
align-items: center;
}

.panel-title
{
 font-size: large;
 font-weight: 500;
}
.panel-description{
  font-size: large;
}