<mat-accordion class="example-headers-align accordian" multi>
  <mat-expansion-panel expanded hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Projects </mat-panel-title>
      <mat-panel-description>
        Edit project details
        <mat-icon>assignment</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form
      class="projects-form"
      [formGroup]="editProjectForm"
      (ngSubmit)="editProject()"
    >
      <div>
        <mat-form-field appearance="outline" class="web">
          <mat-label>Title</mat-label>
          <input matInput placeholder="" formControlName="title" required />
        </mat-form-field>
      </div>

      <div class="dates">
        <mat-form-field appearance="outline">
          <mat-label>Start-date</mat-label>
          <input
            matInput
            [matDatepicker]="sd"
            formControlName="startDate"
            required
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="sd"
          ></mat-datepicker-toggle>
          <mat-datepicker #sd></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End-date</mat-label>
          <input matInput [matDatepicker]="ed" formControlName="endDate" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="ed"
          ></mat-datepicker-toggle>
          <mat-datepicker #ed></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="web">
          <mat-label>Weblink</mat-label>
          <input matInput placeholder="" formControlName="weblink" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="description">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            class="area"
            formControlName="description"
            maxlength="600"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="btn-sec">
        <button
          mat-icon-button
          type="submit"
          [disabled]="editProjectForm.invalid"
          class="btn"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
