.personal-details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.dates {
  padding-left: 50px;
  
}
.web
{
   
    width: 1200px;
}
.description
{
    width: 1200px;
    
}

.btn-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.note{

padding-left: 10px;
padding-right: 10px;
}