<mat-accordion class="accordian example-headers-align" multi>
  <mat-expansion-panel expanded hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Experience </mat-panel-title>
      <mat-panel-description>
        Enter your experience here!
        <mat-icon
          ><span class="material-symbols-outlined"> work </span></mat-icon
        >
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form
      class="experience-form"
      [formGroup]="addExperienceForm"
      (ngSubmit)="addExperience()"
    >
      <div>
        <mat-form-field appearance="outline" class="web">
          <mat-label>Company</mat-label>
          <input matInput placeholder="" formControlName="company" required />
          <mat-error
            *ngIf="addExperienceForm.get('company')?.hasError('required')"
          >
            Enter company name.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="web">
          <mat-label>Location</mat-label>
          <input matInput placeholder="" formControlName="location" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="web">
          <mat-label>Position</mat-label>
          <input
            matInput
            placeholder="ex.Senior developer"
            formControlName="position"
            required
          />
          <mat-error
            *ngIf="addExperienceForm.get('position')?.hasError('required')"
          >
            Enter designation/post.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="dates">
        <mat-form-field appearance="outline">
          <mat-label>Start-date</mat-label>
          <input matInput [matDatepicker]="sd" formControlName="startDate" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="sd"
          ></mat-datepicker-toggle>
          <mat-datepicker #sd></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End-date</mat-label>
          <input matInput [matDatepicker]="ed" formControlName="endDate" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="ed"
          ></mat-datepicker-toggle>
          <mat-datepicker #ed></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="description">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            class="area"
            formControlName="description"
            maxlength="600"
          ></textarea>
          <mat-hint
            >Enter upto 600 characters.
            <span *ngIf="addExperienceForm.get('description')?.valueChanges">
              {{ getCount() }}{{ count }}/600
            </span>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="btn-sec">
        <button
          mat-icon-button
          type="submit"
          [disabled]="addExperienceForm.invalid"
          class="btn"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
