<div *ngIf="width < 768" class="container">
  <div class="row">
    <div class="col-12">
      <section class="my-5 text-center">
        <h1 class="display-1">404</h1>
        <h4 class="mb-4">Page not found</h4>
        <p class="mb-0">
          This web-application is degisn for desktop. Please access it from
          desktop only or enable desktop site.
        </p>
      </section>
    </div>
  </div>
</div>

<ngb-carousel
  #carousel
  [interval]="2000"
  [pauseOnHover]="false"
  *ngIf="width > 768"
>
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption aligner">
      <div>
        <h1 class="description">{{ description[i] }}</h1>
      </div>
    </div>

    <div class="picsum-img-wrapper">
      <img
        [src]="img"
        alt="My image {{ i + 1 }}"
        style="width: 100%; height: 93.6vh"
      />
    </div>
  </ng-template>
</ngb-carousel>
